/* Color variables */
$black     : #2b2b2b;
$main      : #52616b;
$border    : #ececed;
$divider   : #e7e7e7;
$mute      : #a7a8ac;
$muteBlue  : #bdc2d1;
$greyBg    : #f8fafb;
$blue      : rgb(124, 181, 236);
$green     : #4caf50;
$yellow    : #ffd54f;
$red       : #ff4234;
$offline   : #c8c8c8;
$online    : #32b268;
$headerBg  : #f8fafb;

$brand-primary: $blue;
